.Rproj.user
.Rhistory
.RData
.Ruserdata
contours-france-entiere-latest-v2.geojson 
municipales-2026-resultats-bv-par-communes-*.csv
Contours des bureaux de votes.csv
Contours des communes.csv
Liste des communes de la CALL.csv
Municipales 2026 CALL 2..R
Municipales 2026 CALL.R
Intensité Abstention.png
